/* smartphone viewport (portrait) */

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgb(231, 120, 226), rgb(51, 19, 110));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: pink;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

/* Style for de score panel */

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 5px;
}

.score {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    width: 360px;
    align-items: center;
    margin-bottom: 10px;
}

.score .stars li {
    display: inline-block;
}

.stars {
    width: 30%;
    padding: 0;
    padding-left: 5px;
}

.stars li {
    margin-right: 5px;
}

.moves {
    width: 50%
}

.restart {
    width: 20%;
    text-align: right;
    cursor: pointer;
    padding-right: 5px;
}

/* Style for deck */

.deck {
    width: 360px;;
    height: 380px;;
    padding:  8px;
    margin: 0;
    background-color:  rgba(51, 19, 110, 0.336);
    border-radius: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 75px;
    height: 80px;
    /* align-items: center; */
    background-color: rgb(51, 19, 110);
    color: rgb(51, 19, 110);
    /* color: white; */
    border-radius: 8%;
    font-size: 2.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgb(44, 16, 95);
}