/* smartphone viewport (portrait) */

body {
    margin: 0;
    height: 100vh;
    background-image: radial-gradient(rgb(219, 120, 231), rgb(51, 19, 110));
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: pink;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

/* Style for de score panel */

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 20px;
    text-shadow: 1px 2px 4px rgb(181, 80, 139);
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 8px;
}

.score {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    width: 360px;
    align-items: center;
    margin-bottom: 10px;
}

.score .stars li {
    display: inline-block;
}

.stars {
    width: 30%;
    padding-left: 8px;
}

.stars li {
    margin-right: 5px;
}

.moves {
    width: 50%
}

.restart {
    width: 20%;
    text-align: right;
    cursor: pointer;
    padding-right: 8px;
}

/* Style for deck */

.deck {
    width: 360px;;
    height: 380px;;
    padding:  8px;
    margin: 0;
    background-color:  rgba(51, 19, 110, 0.336);
    border-radius: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 75px;
    height: 80px;
    /* align-items: center; */
    background-color: rgb(51, 19, 110);
    /* color: rgb(51, 19, 110); */
    color: white;
    border-radius: 8%;
    font-size: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgb(44, 16, 95);
    transition-duration: 500ms;
}

/* Viewport over 730px */

@media screen and (min-width: 730px) {
    .deck {
        width: 540px;
        height: 570px;
        margin-bottom: 30px;
    }
    .card {
        width: 112.5px;
        height: 120px;
    }
    .score {
        width: 540px;
    }
    h1 {
        font-size: 3em;
        margin-bottom: 30px;
    }

}
